body {
    margin: 0;
    font-family: 'Open Sans',sans-serif;
}

.container {
    max-width: 1150px;
    width: 100%;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;

    background-color: #000;
    width: 100%;
    height: 70px;
    line-height: 70px;
}

.nav_menu {
    text-align: end;
    padding: 0;
}

.nav_menu a {
    color: #b0b0b0;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    align-items: flex-end;
    padding-left: 40px;
    font-weight: 400;
}

.nav_menu a:hover {
    color: #fff;
    transition: color .5s ease;
}

/* MAIN DISPLAY */

.main_disp {
    background-color: #9a9a9a;
}

.header_btn h2 {
    margin-top: 20px;
    color: #fff;
}

.header_btn button {
    border: 1px solid #e6e6e6;
    border-radius: 0%;
    color: #e6e6e6;
}


.header_btn p {
    margin-top: 50px;
    font-family: 'Raleway', sans-serif !important;
    color: #fff;
}


/* MAIN DISP___FORM STYLE  */   


.text_form_disp {
    height: 650px;
    padding-top: 130px;
}

.main_form {
    width: 100%;
    height: 365px;
    max-width: 360px;
    background-color: #fff;
    position: relative;
    padding: 0;
}

.main_form h2 {
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
    vertical-align: top;
}

.main_form .color_header {
    text-transform: uppercase;
    color: #ff9b51;
}

.main_form .form-group {
    padding: 5px 40px;
}

input[type="text"],input[type="email"],input[type="password"] {
    border-bottom: 1px solid #cecece;
    width: 100%;
    max-width: 285px;
    font-size: 14px;
    opacity: 0.7;
}

.no-border {
    border: 0;
    box-shadow: 0;
}

.btn_form {
    background-color: #ff9b51;
    width: 100%;
    height: 55px;
    bottom: 0;
    border: none;
    border-radius: 0;
    align-items: flex-end;
    position: absolute;
}

.btn_form:hover {
    font-size: 17px;
    text-decoration: underline;
    transition: font-size  .1s;
    background-color: #ff9b51
}



/* SOCIAL MEDIA BLOCK */

.social_media {
    display: flex;
    justify-content: space-around;
    height: 100px;
    padding-top: auto;
    border-bottom: 1px solid #b7b7b7;
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
}

.main_social {
    margin-left: 260px;
}

.social_media .fab, .fas {
    color: #ccc;
}

.social_media h2 {
    font-size: 20px;
    font-weight: 700;
    padding-top: 10px;
}

.social_media p {
    font-size: 14px;
}

.social_media .social_icon i {
    padding-top: 20px;
    margin: 0 40px;
}

.social_media .social_icon i:hover {
    font-size: 3.1em;
    color: #9c9b9b;
} */

/* TAB SECTION  */



.tabs {
  display: flex;
  margin-top: 100px;
}

.tabs_main {
    flex-direction: column;
}

.tabs_main button {
    width: 110px;
    height: 110px;
    margin-bottom: 1px;
    background-color: #333;
    border: none;
}

.tabs_main button:hover {
    background-color: #ff8b38;
}

section .btn_first {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

section .btn_third {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
